*{
    margin: 0;
    padding: 0;

}
body{
    min-height: 1000px;
    min-width: 1000px;
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoContainer img {
    height: 100px;
    width: auto;
}
.head{
    display: block;
    width: fit-content;
   
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}
.cardHead{
    border: 4px solid black;
    border-style: double;
    padding: 8px 16px;
    text-align: center;
   
}
.line{
   background-color: black;
    border: 1px solid black;
    height: 100px;
    width: 1px;
    margin: 0 auto;
    border-style:solid
}

.reports{
    border: 1px solid black;
    height: 50vh;
    margin-left: 25vw;
    margin-right: 25vw;
    
}