.logoContainer img {
    height: 100px;
    width: auto;
}

.menu{
    /* background-color: rgb(68, 47, 120); */
   background-color: #000f92c9;
    height: 70px;
    display: flex;
    justify-content:space-between ;
    width: 100%;
}
.menu__container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    
    width: 100%;
   
    
}
.download span{
    font-size: 3em;
    color: whitesmoke;
    margin-right: 25px ;
    margin: 20px ;
}
.menu__links{
    height: 100%;
    transition: transform .5s;
    display: flex;
    
}
.download{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    padding-left: 45px;
}
.navMenu{
    display: flex;
    justify-content: space-between;
}
.menu__item{
    list-style: none;
    position: relative;
    height: 100%;
    color: #fff;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg) ;
}
.menu__item--active{
    --transform: rotate(0);
    --background: #5e7094;
}
.menu__item--show{
    background-color: var(--background);
}
.menu__item:hover{
     --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%); 
     --transform: rotate(0) ;
    }

.menu__link{
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
}
.menu__link:hover{
    background-color: #6d77ff;
}

.menu__item a{
    color: #ffe5fe;
    font-size: 18px ;
}

.menu__nesting{
    clip-path: var(--clip);
}
.menu__link--inside{
    padding: 30px 100px 30px 20px;
}
.menu__arrow{
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}
.menu__nesting{
    list-style: none;
    transition: clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: #8c6dbf;
}

.menu__burguer{
    display: flex;
    height: 100%;
    align-items: center;
    cursor: pointer;
    padding: 0 15px;
    display: none;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.boxTop {
    position: relative;
}

.directorioContainer:after {
    content: "";
    width: 2px;
    height: 100px;
    background-color: black;
    margin-top: 60px;
    z-index: 1;
    margin-left: 1px;
}

.directorioContainer,
.ceoContainer{
    display: flex;
    justify-content: space-around;
}


.directorio,
.colum-a,
.colum-b,
.colum-c,
.colum-d {
    border: 2px solid black;
    position: absolute;

}

.directorio p {
    padding: 3px 23px;
    color: brown;
    font-weight: bolder;

}

.directorio-1Container,
.ceo-1Container {
    display: flex;
    justify-content: center;
    position: relative;
    top: -40px;

}

.boxDirecciones,
.ceoContainer>div {
   
    width: fit-content;
    padding: 5px 5px;

}
.boxDirecciones{
    border: 2px solid black;
    background-color: #9c9c9c;
}
.right{
    background-color: white;
}
.line {
    content: "";
    height: 2px;
    width: 150px;
    background-color: black;
    margin-top: 37px;


}

.boxDirecciones p,
.boxDirecciones h4,
.ceoContainer h4,
.ceoContainer p {
    padding: 0%;
    text-align: center;
    margin: 0%;
}

.bottom {
    display: flex;
    justify-content:space-between;
    margin-bottom: 0;
    margin-top: 1em;
}
.bottom p{
    margin-top: 0;
    margin-bottom: 0  ;
}


.ceo p,
.ceo,
.ceoContainer h4{
    padding: 0px 10px;
    color: azure;
    background-color: brown;
}
.ceo{
    border: 2px solid black;
    position: absolute;
    
}

.ceo::before {
    content: "";
    width: 2px;
    height: 120px;
    background-color: black;
    top: -120%;
    left: 50%;
    position: absolute;

}
.ceo::after,
.head::after{
    content: "";
    width: 2px;
    height: 77px;
    background-color: black;
    left: 48%;
    position: absolute;
    top: 100px;
}



.center{
  
    display: flex;
    justify-content: center;
    height: 50vh;
    width: 100%;
    
    margin-top: 175px;
}
.columA,
.columB,
.columC,
.columD{
   
    height: 50vh;
    width: 15vw;
}

.columA{
    display: flex;
   flex-direction: column;
   position: relative;
   
}

.columB{
    border-top: 2px solid black;
    
}
.columC{
    border-top: 2px solid black;
}

.boxContainer,
.boxContainerFirst{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-bottom: 4px;
    margin-bottom: 0;
}
.boxContainer{
    position: relative;
    margin-bottom: 0;
}


.connector{
    content: "";
    height: 200px;
    width: 2px;
    
    background-color: black;
    margin-bottom: 0;
}
.xConnector{
    content: "";
    height: 0,5px;
    width: 7px;
    border: 1px solid black;
    background-color: black;
    margin-top: 4em;
    right: 7px;
    position: relative;
}
.boxContainerB{
    margin-left: 10px;
    margin-top: -2px;
}

.box{
    border: 2px solid rgba(216, 18, 18, 0.849);
    padding: 4px 4px;
    text-align: center;
    width: 190px;
    height: min-content;
    margin-top: 10px;
    margin-right: 5px;
    flex-direction: row;
    background-color: #9c9c9c;
    font-weight: 500;
}

.center a{
    text-decoration: none;
}
.box h4,
.box p,
.boxI h4,
.boxI p{
    font-size: small;
    margin-top: 0;
}
.boxI p,
.boxI h4{
    margin: 3px;
    width: 100%;
    overflow: hidden;
}
.boxI{
    display: flex;
    flex-direction: column;
    justify-items:center;
    justify-content: space-evenly;
    border: 2px solid black;
    padding: 4px 4px;
    text-align: center;
    width: 10vw;
    height: 10vh;
    margin-top: 10px;
    margin-right: 5px;
    
    background-color: #9c9c9c
}
.bottom p{
margin: 0%;
padding: 0;
width: fit-content;
}

.lineFixed{
   width: 1px;
    background-color: black;
   height: 180px;
}

.head{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}
.head::after{
    top: 255px;
    left: 50%;
    height: 178px;
}