.logoContainer img {
    height: 100px;
    width: auto;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.boxTop {
    position: relative;
}

.directorioContainer:after {
    content: "";
    width: 2px;
    height: 100px;
    background-color: black;
    margin-top: 60px;
    z-index: 1;
    margin-left: 1px;
}

.directorioContainer,
.ceoContainer{
    display: flex;
    justify-content: space-around;
}


.directorio,
.ceo,
.colum-a,
.colum-b,
.colum-c,
.colum-d {
    border: 2px solid black;
    position: absolute;


}

.directorio p {
    padding: 3px 23px;
    color: brown;
    font-weight: bolder;

}

.directorio-1Container,
.ceo-1Container {
    display: flex;
    justify-content: center;
    position: relative;
    top: -40px;

}

.boxDirecciones,
.ceoContainer>div {
    border: 3px solid brown;
    width: fit-content;
    padding: 5px 5px;

}

.line {
    content: "";
    height: 2px;
    width: 150px;
    background-color: black;
    margin-top: 37px;


}

.boxDirecciones p,
.boxDirecciones h4,
.ceoContainer h4,
.ceoContainer p {
    padding: 0%;
    text-align: center;
    margin: 0%;
}

.bottom {
    display: flex;
    justify-content: space-between;
}
.bottom p{
    margin-top: 0;
    margin-bottom: 0  ;
}

.ceo p,
.ceo,
.ceoContainer h4{
    padding: 0px 10px;
    color: azure;
    background-color: brown;
}

.ceo::before {
    content: "";
    width: 2px;
    height: 97px;
    background-color: black;
    top: -120%;
    left: 50%;
    position: absolute;

}
.ceo::after,
.head::after{
    content: "";
    width: 2px;
    height: 90px;
    background-color: black;
    left: 47%;
    position: absolute;
    top: 85px;
}



.center{
  
    display: flex;
    justify-content: center;
    height: 50vh;
    width: 100%;
    
    margin-top: 175px;
}
.columA,
.columB,
.columC,
.columD{
   
    height: 50vh;
    width: 15vw;
}

.columA{
    display: flex;
   flex-direction: column;
   position: relative;
}

.columB{
    border-top: 2px solid black;
    
}
.columC{
    border-top: 2px solid black;
}

.boxContainer,
.boxContainerFirst{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-bottom: 4px;
    margin-bottom: 0;
}
.boxContainer{
    position: relative;
    margin-bottom: 0;
}


.connector{
    content: "";
    height: 200px;
    width: 2px;
    
    background-color: black;
    margin-bottom: 0;
}
.xConnector{
    content: "";
    height: 0,5px;
    width: 7px;
    border: 1px solid black;
    background-color: black;
    margin-top: 4em;
    right: 7px;
    position: relative;
}
.boxContainerB{
    margin-left: 10px;
    margin-top: -2px;
}

.box{
    border: 2px solid rgba(216, 18, 18, 0.849);
    padding: 4px 4px;
    text-align: center;
    width: 190px;
    height: min-content;
    margin-top: 10px;
    margin-right: 5px;
    flex-direction: row;
    background-color: #9c9c9c
}
.box h4,
.box p,
.boxI h4,
.boxI p{
    font-size: small;
    margin-top: 0;
}
.boxI{
    border: 2px solid black;
    padding: 4px 4px;
    text-align: center;
    width: 190px;
    height: min-content;
    margin-top: 10px;
    margin-right: 5px;
    flex-direction: row;
    background-color: #9c9c9c
}


.lineFixed{
   width: 1px;
    background-color: black;
   height: 180px;
}

.head{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}
.head::after{
    top: 255px;
    left: 50%;
    height: 178px;
}