.logoContainer img {
    height: 100px;
    width: auto;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boxTop {
    position: relative;

}

.directorioContainer:after {
    content: "";
    width: 5px;
    height: 100px;
    background-color: black;
    margin-top: 60px;
    z-index: 1;

}

.directorioContainer,
.ceoContainer {
    display: flex;
    justify-content: space-around;

}


.directorio,
.ceo {
    border: 3px solid black;
    position: absolute;


}

.directorio p {
    padding: 3px 23px;
    color: brown;
    font-weight: bolder;

}

.directorio-1Container {
    display: flex;
    justify-content: center;
    position: relative;
    top: -40px;

}

.boxDirecciones,
.ceoContainer>div {
    border: 3px solid brown;
    width: fit-content;
    padding: 5px 5px;

}

.line {
    content: "";
    height: 5px;
    width: 150px;
    background-color: black;
    margin-top: 37px;


}

.boxDirecciones p,
.boxDirecciones h4,
.ceoContainer h4,
.ceoContainer p {
    padding: 0%;
    text-align: center;
    margin: 0%;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

.ceo p,
.ceo,
.ceoContainer h4{
    padding: 0px 10px;
    color: azure;
    background-color: brown;
}

.ceo::before {
    content: "";
    width: 5px;
    height: 97px;
    background-color: black;
    top: -120%;
    left: 47%;
    position: absolute;

}
.ceo::after{
    content: "";
    width: 5px;
    height: 90px;
    background-color: black;
    left: 47%;
    position: absolute;
    top: 85px;
}
.ceo-1{
    width: 80vw;
    justify-content: center;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid blueviolet;
    margin-top: 178px;
}

.ceo-1Unit{
    border: 1px solid slategray;
    margin: 1em 1em;
    padding: 1em 1em;
    text-align: center;

}
.ceo-1Container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1300px;
}