<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <title>Document</title>
</head>

<body>
  <div class="top">
    <div class="logoContainer">
      <img src="./images/generaliLogo.png" alt="">
    </div>
    <div class="title">
      <h1 class="title">La Caja de Ahorro y Seguro</h1>
    </div>
    <div class="logoContainer">
      <img src="./images/laCaja.jpeg" alt="">
    </div>
  </div>
  <div class="boxTop">
    <div class="directorioContainer">
      <div class="directorio">
        <p>DIRECTORIO</p>
      </div>
    </div>
    <div class="directorio-1Container">
      <div class="boxDirecciones left">
        <h4>Gremio</h4>
        <p>Higher-position-name</p>
        <p>Person´s name</p>
        <div class="bottom">
          <p>Dotacion</p>
          <p>XX</p>
        </div>
      </div>
      <div class="line"></div>
      <div class="boxDirecciones">
        <h4>Auditoria Interna</h4>
        <p>Higher-position-name</p>
        <p>Person´s name</p>
        <div class="bottom">
          <p>Dotacion</p>
          <p>XX</p>
        </div>
      </div>
    </div>
    <div class="ceoContainer">
      <div class="ceo">
        <h4>Gerencia General</h4>
        <p>CEO</p>
        <p>Person´s name</p>
        <div class="bottom">
          <p>Dotacion</p>
          <p>
            XX
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="center">

    <div class="columA">

      <div class="boxContainer">
        <div class="box">
          <h4>Title</h4>
          <p>Puesto</p>
          <p>Apellido y Nombre</p>
          <p></p>
        </div>
        <div class="lineFixed"></div>
        <div class="lineFixedII"></div>
      </div>
      <div class="boxContainer">
        <div class="box">
          <h4>Title</h4>
          <p>Puesto</p>
          <p>Apellido y Nombre</p>
          <p></p>
        </div>
        <div class="lineFixed"></div>
        <div class="lineFixedIII"></div>
      </div>
    </div>

    <div class="columB">
      <div class="lineFixedB"></div>
      <div class="boxContainerB">
        <div class="box">
          <h4>Title</h4>
          <p>Puesto</p>
          <p>Apellido y Nombre</p>
          <p></p>
        </div>


      </div>
    </div>
    <div class="columC"></div>
    <div class="columD"></div>

  </div>


  <script src="../src/scripts.js"></script>
</body>

</html>