<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,600,0,0" />
  <title>MyChart</title>
</head>

<body>

  <div class="container__header">

    <nav class="menu">
      <div class="menu__container">

        <div class="download">

          <span class="material-symbols-outlined">
            saved_search
          </span>
          <span class="material-symbols-outlined">
            account_circle
          </span>
          <span class="material-symbols-outlined">
            download
          </span>
        </div>

        <div class="navMenu">
        <ul class="menu__links">


          <li class="menu__item">
            <a href="" class="menu__link">Inicio</a>
          </li>

          <li class="menu__item  menu__item--show">
            <a href="" class="menu__link">Opcion <img src="media/expand_more.png" alt="" class="menu__arrow"></a>
            <ul class="menu__nesting">
              <li class="menu__indide">
                <a href="" class="menu__link menu__link--inside ">Opción I</a>
              </li>
              <li class="menu__indide">
                <a href="" class="menu__link menu__link--inside ">Opción II</a>
              </li>
              <li class="menu__indide">
                <a href="" class="menu__link menu__link--inside ">Opción III</a>
              </li>
            </ul>
          </li>
          <li class="menu__item menu__item--show">
            <a href="" class="menu__link">Opcion BETA <img src="media/expand_more.png" alt="" class="menu__arrow"></a>
            <ul class="menu__nesting">
              <li class="menu__indide">
                <a href="" class="menu__link menu__link--inside ">BETA 1 </a>
              </li>
              <li class="menu__indide">
                <a href="" class="menu__link menu__link--inside ">BETA 2 </a>
              </li>
              <li class="menu__indide">
                <a href="" class="menu__link menu__link--inside ">BETA 3 </a>
              </li>
            </ul>
          </li>
          <li class="menu__item">
            <a href="" class="menu__link">Contáctanos</a>
          </li>
        </ul>
      </div>
        <div class="menu__burguer">
          <img src="media/menuburg.png" alt="" class="menu__img">
        </div>
      </section>
    </nav>

    <i class="fa-solid fa-bars" id="icon_menu"></i>

  </div>
  <div class="top">
    <div class="logoContainer">
      <img src="./images/generaliLogo.png" alt="">
    </div>
    <div class="title">
      <h1 class="title">La Caja de Ahorro y Seguro</h1>
    </div>
    <div class="logoContainer">
      <img src="./images/laCaja.jpeg" alt="">
    </div>
  </div>
  <div class="boxTop">
    <div class="directorioContainer">
      <div class="directorio">
        <p>DIRECTORIO</p>
      </div>
    </div>
    <div class="directorio-1Container">
      <div class="boxDirecciones left">

        <h4>Gremio</h4>
        <p>Higher-position-name</p>
        <p>Person´s name</p>
        <div class="bottom">
          <p>Dotacion</p>
          <p>XX</p>
        </div>

      </div>
      <div class="line"></div>
      <div class="boxDirecciones right">
        <h4>Auditoria Interna</h4>
        <p>Higher-position-name</p>
        <p>Person´s name</p>
        <div class="bottom">
          <p>Dotacion</p>
          <p>XX</p>
        </div>
      </div>
    </div>
    <div class="ceoContainer">
      <div class="ceo">
        <h4>Gerencia General</h4>
        <p>CEO</p>
        <p>Person´s name</p>
        <div class="bottom">
          <p>Dotacion</p>
          <p>
            XX
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="center">

    <div class="columA">
      <div class="boxContainer">
        <a href="./headNreports">
          <div class="box">
            <h4>RECURSOS HUMANOS</h4>
            <p>DIRECTOR DE RECURSOS HUMANOS</p>
            <p>JORGE HERNAN HABIF</p>
            <div class="bottom">
              <p>Dotacion</p>
              <p>38</p>
            </div>
          </div>
        </a>
        <div class="connector">
          <div class="xConnector"></div>
        </div>
      </div>

    </div>

    <div class="columB">

      <div class="boxContainer">
        <div class="box">
          <h4>Title</h4>
          <p>Puesto</p>
          <p>Name</p>
          <div class="bottom">
            <p>Dotacion</p>
            <p>XX </p>
          </div>
        </div>
        <div class="connector">
          <div class="xConnector"></div>
        </div>
      </div>

    </div>
    <div class="columC">

      <div class="boxContainer">
        <div class="box">
          <h4>Title</h4>
          <p>Puesto</p>
          <p>Name</p>
          <div class="bottom">
            <p>Dotacion</p>
            <p>XX </p>
          </div>
        </div>
        <div class="connector">
          <div class="xConnector"></div>
        </div>
      </div>
    </div>
    <div class="columC">

      <div class="boxContainer">
        <div class="box">
          <h4>Title</h4>
          <p>Puesto</p>
          <p>Name</p>
          <div class="bottom">
            <p>Dotacion</p>
            <p>XX </p>
          </div>
        </div>
        <div class="connector">
          <div class="xConnector"></div>
        </div>
      </div>
    </div>

  </div>


  <script src="../src/scripts.js"></script>
</body>

</html>